body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.App {
}

#firebaseui-auth-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}