.Timetable {
  display: flex;
  width: 100%;
  position: relative;
}
.Timetable:before {
  content: " ";
  position: fixed;
  top: 0;
  width: 100%;
  height: 34px;
  background-color: white;
  left: 0;
}
.Timetable > div {
  flex: 0 0 200px;
}
.Timetable .day {
  padding: 4px 8px;
  background-color: #ebf8ff;
  background-color: #fff;
  font-weight: 500;
  padding-top: 16px;
  border-bottom: 1px solid #82bbff;
}
.Timetable .hour {
  padding: 2px 8px;
  box-sizing: border-box;
  height: 22px;
}
.Timetable .hour:nth-child(2n) {
  background-color: #fafafa;
}
.Timetable .hour .Toggle {
  margin: -1px -7px;
  height: 20px;
}
.Timetable .TimetableColumn.active .hour {
  border-left: 1px solid #888;
  background-color: #fbfbfb;
}
.Timetable .TimetableColumn.active .hour:nth-child(2n) {
  background-color: #f8f8f8;
}
.Timetable header {
  padding: 8px 8px;
  width: 200px;
  box-sizing: border-box;
  font-weight: 500;
  position: fixed;
  top: 0;
  background-color: white;
}
.Timetable .TimetableColumn.active header {
  border-left: 1px solid #888;
  background-color: #fbfbfb;
}
.Timetable .RowHeaders > main {
  margin-top: 34px;
}
/*
.TimetableColumn:hover, .TimetableColumn.active:hover {
  background-color: white;

  .hour {
    background-color: #efefef;

    &:nth-child(2n) {
      background-color: #e0e0e0;
    }
  }

  header {
    background-color: #d0d0d0;
  }
}
*/
.TimetableColumn .backdrop {
  height: 34px;
}
.guideline {
  border-top: 1px dotted #82bbff;
}
.TimetableRowHeadCell {
  display: flex;
  flex-direction: row;
}
.TimetableRowHeadCell time {
  flex: 1;
}
.TimetableRowHeadCell label {
  font-weight: 500;
  flex: 1;
  text-align: center;
}
.TimetableRowHeadCell .ProgressBar {
  flex: 2;
}
.TimetableRowHeadCell .hidden {
  visibility: hidden;
}
