.Timetable {
  display: flex;
  width: 100%;
  position: relative;

  &:before {
    content: " ";
    position: fixed;
    top: 0;
    width: 100%;
    height: 34px;
    background-color: white;
    left: 0;
  }

  & > div {
    flex: 0 0 200px;
  }

  .day {
    padding: 4px 8px;
    background-color: #ebf8ff;
    background-color: #fff;
    font-weight: 500;
    padding-top: 16px;
    border-bottom: 1px solid #82bbff;
  }

  .TimetableColumn.active .day {
    //border-left: 1px solid #888;
  }

  .hour {
    padding: 2px 8px;
    box-sizing: border-box;
    height: 22px;

    &:nth-child(2n) {
      background-color: #fafafa;
    }

    .Toggle {
      margin: -1px -7px;
      height: 20px;
    }
  }

  .TimetableColumn.active .hour {
    border-left: 1px solid #888;
    background-color: #fbfbfb;

    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }

  header {
    padding: 8px 8px;
    width: 200px;
    box-sizing: border-box;
    font-weight: 500;
    position: fixed;
    top: 0;
    background-color: white;
  }

  .TimetableColumn.active header {
    border-left: 1px solid #888;
    background-color: #fbfbfb;
  }

  .RowHeaders {
    & > main {
      margin-top: 34px;
    }
  }
}

/*
.TimetableColumn:hover, .TimetableColumn.active:hover {
  background-color: white;

  .hour {
    background-color: #efefef;

    &:nth-child(2n) {
      background-color: #e0e0e0;
    }
  }

  header {
    background-color: #d0d0d0;
  }
}
*/

.TimetableColumn {
  .backdrop {
    height: 34px;
  }
}

.guideline {
  border-top: 1px dotted #82bbff;
}

.TimetableRowHeadCell {
  display: flex;
  flex-direction: row;

  time {
    flex: 1;
  }

  label {
    font-weight: 500;
    flex: 1;
    text-align: center;
  }

  .ProgressBar {
    flex: 2;
  }

  .hidden {
    visibility: hidden;
  }
}