@available: #d7e8ca;
@committed: #a0d381;
@hover: #ecf4ea;

.Toggle {
  display: block;
  position: relative;

  &:hover {
    background-color: @hover;
    cursor: pointer;

    .tooltip span {
      background-color: @hover;
    }

    &.true .tooltip span {
      background-color: @available;
    }
  }

  &.true {
    background-color: @available;
    cursor: pointer;

    .tooltip span {
      background-color: @available;
    }
  }

  &.true.committed {
    background-color: @committed;

    .tooltip span {
      background-color: @committed;
    }
  }

  &:active {
    background-color: #5abc52;

    &.true.committed {
      background-color: #ff9749;

      .tooltip {
        display: none;
      }
    }

    .tooltip span {
      background-color: #5abc52 !important;
    }
  }

  input {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    padding: 2px 4px;
    font-size: 0.75em;
    display: block;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .content {
    font-size: 0.75em;
    padding: 2px 4px;
    box-sizing: border-box;
  }

  .tooltip {
    position: absolute;
    width: 200px;
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 2px 4px;
    text-align: right;
    display: block;
    pointer-events: none;
    font-weight: 500;
    margin-top: -2px;

    span {
      background-color: #5abc52;
      padding-right: 2px;
      padding-left: 2px;
      color: #63775b;
    }
  }
}